---
---

$brown: #886d4a;
$gold: #DAAA00;
$navy: #0C2340;
$white: #ffffff;

body {
  background: #0f212d;
}

@import 'materialize';

html {
  font-family: 'Montserrat', sans-serif;
}

nav .brand-logo.right {
    right: 0rem;
    padding: 0;
}

select {
  background-color: transparent;
  color: #9e9e9e;
}

.navblue {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.parallax-container {
  height: auto;
}

.johnm {
  background-color: #917657;
  background-position: center;
}

.benefits {
  padding-top: .5rem;
  padding-bottom: .3rem;
}

#john {
  display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


#bible {
  height: 300px;
}

#logo {
  width: 70%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 320px) {
  .icon {
    display: none;
  }
}
