---
---

@import 'materialize';

$gold: #DAAA00;
$navy: #0C2340;
$white: #ffffff;

.uppercase {
  text-transform: uppercase;
}

.parallax-container {
  height: auto;
}

#logo {
  width: 50%;
  margin-left: 25%;
  padding-top: 20px;
}
