---
title: TMF Nebraska
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: "/assets/images/cornfield.jpg"
excerpt: Welcome to The Master's Fellowship of Nebraska (TMFNE)!
intro:
- excerpt: |-
    We are a network of pastors in Nebraska committed to the expository proclamation of God's Word. This fellowship is bound together by a firm belief in the inerrancy and sufficiency of Scripture. Through the mutual support of pastoral fellowship, our mission is to strengthen the leadership of like-minded local churches in Nebraska.

    Our vision for TMFNE is to forge an online community and to host in-person gatherings for encouragement, accountability, and equipping; so that each of us may fulfill the shepherding ministry entrusted to us by Christ, our Savior and Master.
feature_row:
- image_path: "/assets/images/nebraska-football-flag.jpg"
  alt: resources
  title: Resources & Events
  excerpt: Upcoming Events and Encouraging Resources
  add_button: true
  url: "/nebraska/resources"
  btn_class: btn--primary
  btn_label: Read More
- image_path: "/assets/images/tower-flower.jpg"
  alt: get-connected
  title: Get Connected
  excerpt: Contact us to see about getting involved with this chapter
  url: "/nebraska/about"
  btn_label: Read More
  btn_class: btn--primary
  add_button: true
- image_path: "/assets/images/cross.jpg"
  title: Our Principles
  excerpt: Foundational principles and the vision that binds us together
  alt: our-principles
  add_button: true
  url: "/"
  btn_label: Read More
  btn_class: btn--primary

---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}