---
title: TMF Nebraska
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: "/assets/images/cornfield.jpg"
excerpt: Welcome to The Master's Fellowship of Nebraska (TMFNE)!
intro:
- excerpt: The Master’s Fellowship is an association of pastors and missionaries bound
    together by love for the Living Word, The Master, our Lord Jesus, the church for
    which He died, and the bold proclamation of the exposited written word. The Fellowship’s
    purpose is to support the mission and leadership of the local church by connecting
    and networking like-minded pastors and missionaries who share core biblical convictions
    of doctrine and praxis.
feature_row:
- image_path: "/assets/images/nebraska-football-flag.jpg"
  alt: resources
  title: Resources & Events
  excerpt: Upcoming Events and Encouraging Resources
  add_button: true
  url: "/nebraska/resources"
  btn_class: btn--primary
  btn_label: Read More
- image_path: "/assets/images/ne_state_flag.png"
  alt: get-connected
  title: Get Connected
  excerpt: Contact us to see about getting involved with this chapter
  url: "#test-link"
  btn_label: Read More
  btn_class: btn--primary
  add_button: false
- image_path: "/assets/images/4887082660_81293aafea_b.jpg"
  title: Our Principles
  excerpt: Foundational principles and the vision that binds us together
  alt: ''
  add_button: false
  url: ''
  btn_label: ''
  btn_class: ''

---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}