
  <!-- <div class="row">
    <div class="conatiner">
      <form class="col s12" action="https://formspree.io/bnoll@masters.edu"
      method="POST">
        <div class="row">
          <div class="col s12 m6">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate white-text" name="First">
            <label for="icon_prefix">First</label>
          </div>
          <div class="input-field col s6">
            <input id="icon_telephone" type="text" class="validate white-text" name="Last">
            <label for="icon_telephone">Last</label>
          </div>
          <div class="input-field col s12">
            <select name="position" class="browser-default">
              <option value="" disabled selected>Position</option>
              <option value="Pastor">Pastor</option>
              <option value="Elder">Elder</option>
              <option value="Member">Member</option>
            </select>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="icon_prefix" type="email" class="validate white-text" name="email">
            <label for="icon_prefix">Email</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <input id="icon_prefix" type="text" class="validate white-text" name="Church Name">
            <label for="icon_prefix">Church Name</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">room</i>
            <input id="icon_telephone" type="number" class="validate white-text" name="Church Zip code">
            <label for="icon_telephone">Church Zip Code</label>
          </div>
          <div class="col s12">
            <button class="btn-flat waves-effect waves-light right white-text" type="submit" value="send" name="action">Submit
              <i class="material-icons right">send</i>
              <input type="text" name="_gotcha" style="display:none" />
            </button>
          </div>
        </div>

        </div>
      </form>
    </div>
  </div> -->


<div class="row">
  <!-- <div class="container"> -->
    <div id="mc_embed_signup">
    <form action="//themastersfellowship.us15.list-manage.com/subscribe/post?u=600f240d51a3a9c85682097c8&amp;id=3a6c848040" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row">
        <div class="col s12 m6">
          <div class="mc-field-group input-field col s6">
            <i class="material-icons prefix">account_circle</i>
          	<input type="text" value="" name="FNAME" class="white-text" id="mce-FNAME">
            <label for="mce-FNAME">First</label>
          </div>
          <div class="mc-field-group input-field col s6">
          	<label for="mce-LNAME">Last</label>
          	<input type="text" value="" name="LNAME" class="white-text" id="mce-LNAME">
          </div>
          <div class="mc-field-group input-field col s12">
            <i class="material-icons prefix">email</i>
            <input type="email" value="" name="EMAIL" class="required email white-text" id="mce-EMAIL">
            <label for="mce-EMAIL">Email<span class="asterisk">*</span>
          </label>
          </div>
          <div class="mc-field-group col s12">
            <label for="mce-MMERGE3">Position  <span class="asterisk">*</span>
          </label>
            <select name="MMERGE3" class="required browser-default white-text" id="mce-MMERGE3">
            <option value=""></option>
            <option value="Pastor">Pastor</option>
          <option value="Elder">Elder</option>
          <option value="Member">Layman</option>
            </select>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="mc-field-group input-field col s12">
            <i class="material-icons prefix">business</i>
            <input type="text" value="" name="MMERGE4" class="required white-text" id="mce-MMERGE4">
            <label for="mce-MMERGE4">Church Name  <span class="asterisk">*</span>
          </label>
          </div>
          <div class="mc-field-group input-field col s12">
            <i class="material-icons prefix">room</i>
            <input type="text" value="" name="MMERGE5" class="white-text" id="mce-MMERGE5">
            <label for="mce-MMERGE5">Zip Code </label>
          </div>
          <div class="col s12">
              <div id="mc_embed_signup_scroll">
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_600f240d51a3a9c85682097c8_3a6c848040" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn-flat waves-effect waves-light right white-text"></div>
              </div>
          </div>
        </div>
      </div>


    </form>
    </div>
  <!-- </div> -->
</div>


<script type="text/javascript">
$(document).ready(function() {
  $('select').material_select();
});
</script>
