---
title: "TMF Colorado"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/lookout.jpeg
  
excerpt: "Welcome to The Master's Fellowship of Colorado (TMFCO)!"
intro: 
  - excerpt: 'The Master’s Fellowship is an association of pastors and missionaries bound together by love for the Living Word, The Master, our Lord Jesus, the church for which He died, and the bold proclamation of the exposited written word. The Fellowship’s purpose is to support the mission and leadership of the local church by connecting and networking like-minded pastors and missionaries who share core biblical convictions of doctrine and praxis.'
feature_row:
  - image_path: assets/images/phone.jpg
    alt: "resources"
    title: "TMF CO Resources"
    excerpt: "Material to encourage you in the Faith"
  - image_path: /assets/images/puzzle.jpg
    alt: "get-connected"
    title: "Get Connected"
    excerpt: "Contact us to see about getting involved with this chapter"
    url: "/colorado/about.html"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/mountains.jpg
    title: "About TMF CO"
    excerpt: "Foundational principles and the vision that binds us together"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}